# Assignment 02 - make a Python notebook to analyze CORGIS data
## Tyler Nguyen (#505548431)

### Description
Billionare Data Set:
https://corgis-edu.github.io/corgis/csv/billionaires/

Detailed history of each billionares from 1996-2014. Includes information about company, method to wealth. Each entry is a row.

In [14]:
import pandas as pd
# commands to read the datafile
df = pd.read_csv("billionaires.csv")

In [15]:
# print(df)

                name  rank  year  company.founded  \
0         Bill Gates     1  1996             1975
1         Bill Gates     1  2001             1975
2         Bill Gates     1  2014             1975
3     Warren Buffett     2  1996             1962
4     Warren Buffett     2  2001             1962
...              ...   ...   ...              ...
2609     Wu Chung-Yi  1565  2014             1991
2610        Wu Xiong  1565  2014             1999
2611       Yang Keng  1565  2014                0
2612   Zdenek Bakala  1565  2014             1994
2613     Zhu Wenchen  1565  2014             1999

                         company.name company.relationship  \
0                           Microsoft              founder
1                           Microsoft              founder
2                           Microsoft              founder
3                  Berkshire Hathaway              founder
4                  Berkshire Hathaway              founder
...                               ...                  ...
2609                           Tingyi             investor
2610  Biostime International Holdings                owner
2611                    Blue Ray Corp             chairman
2612                   Patria Finance              founder
2613       Furen Pharmaceutical Group             chairman

          company.sector company.type  demographics.age demographics.gender  \
0               Software          new                40                male
1               Software          new                45                male
2               Software          new                58                male
3                Finance          new                65                male
4                Finance          new                70                male
...                  ...          ...               ...                 ...
2609  beverages and food          new                55                male
2610      infant formula          new                 0                male
2611         real estate          new                53                male
2612                coal          new                53                male
2613     pharmaceuticals          new                48                male

      ...  location.gdp location.region               wealth.type  \
0     ...  8.100000e+12   North America       founder non-finance
1     ...  1.060000e+13   North America       founder non-finance
2     ...  0.000000e+00   North America       founder non-finance
3     ...  8.100000e+12   North America       founder non-finance
4     ...  1.060000e+13   North America       founder non-finance
...   ...           ...             ...                       ...
2609  ...  0.000000e+00       East Asia                 executive
2610  ...  0.000000e+00       East Asia                 executive
2611  ...  0.000000e+00       East Asia         self-made finance
2612  ...  0.000000e+00          Europe  privatized and resources
2613  ...  0.000000e+00       East Asia                 executive

     wealth.worth in billions wealth.how.category  wealth.how.from emerging  \
0                        18.5         New Sectors                      True
1                        58.7         New Sectors                      True
2                        76.0         New Sectors                      True
3                        15.0      Traded Sectors                      True
4                        32.3      Traded Sectors                      True
...                       ...                 ...                       ...
2609                      1.0      Traded Sectors                      True
2610                      1.0      Traded Sectors                      True
2611                      1.0           Financial                      True
2612                      1.0    Resource Related                      True
2613                      1.0         New Sectors                      True

          wealth.how.industry  wealth.how.inherited wealth.how.was founder  \
0         Technology-Computer         not inherited                   True
1         Technology-Computer         not inherited                   True
2         Technology-Computer         not inherited                   True
3                    Consumer         not inherited                   True
4                    Consumer         not inherited                   True
...                       ...                   ...                    ...
2609  Non-consumer industrial         not inherited                   True
2610                 Consumer         not inherited                   True
2611              Real Estate         not inherited                   True
2612        Mining and metals         not inherited                   True
2613       Technology-Medical         not inherited                   True

     wealth.how.was political
0                        True
1                        True
2                        True
3                        True
4                        True
...                       ...
2609                     True
2610                     True
2611                     True
2612                     True
2613                     True

[2614 rows x 22 columns]

In [19]:
# mathematical operation
total_wealth = sum(df["wealth.worth in billions"])
print("Top Billionaries combine for ", total_wealth, "billion dollars.")
# prints total wealth of list billionares

Top Billionaries combine for  9232.500000000038 billion dollars.

In [42]:
# conditional expression
if df["wealth.how.was political"].any() == False:
    print("There are some that achieved wealth without politics.")
else:
    print("None has wealth that was without politics.")
# prints if any of them achieved wealth with/without politics

None has wealth that was without politics.

In [58]:
# for loop
for age in df["demographics.age"][0:9]:
    print(age) 
    # prints each age of top 10 people

40
45
58
65
70
74
0
48
77

In [73]:
# function (both a new function definition and an execution of that function)
def ratioOfCol(col):
    # determines the ratio of true of a booleon col
    return(sum(col) / len(col))
print("Ratio of trues in the col 'wealth.how.from emerging':", ratioOfCol(df["wealth.how.from emerging"]))
# prints ratio of trues in the col

Ratio of trues in the col 'wealth.how.from emerging': 1.0

In [69]:
# module import and use of the module somewhere in the code
# see import pandas df

2614